
    <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">User Vote</li>
    </ol>
    
    <div class="row top-buffer justify-content-center">
    <div class="ui fluid search selection dropdown col col-md-3">
        <input type="hidden" name="user" id="user-id">
        <i class="dropdown icon"></i>
        <div class="default text">{{title}}</div>
        <div class="menu">
            {{#each votes as |vote voteId| }}
            {{!-- <option data-value="{{user.id}}">{{user.name}}</option> --}}
            <div class="item" data-value="{{voteId}}">{{vote.name}}</div>
            {{/each}}
        </div>
    </div>
    </div>
    
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i> Data Table 
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th class="text-center" >ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center" width="15%">Remove</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center" width="15%">Remove Vote</th>
                </tr>
                </tfoot>
                <tbody>

                {{#each users as |user userId| }}
                    <tr >
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        
                        <td width="15%" class= "text-center" > 
                            <span><button id="{{user.id}}" class="btn btn-danger btn-rounded btn-sm removeVote" >Remove Vote</button> </span>
                        </td>
                        
                    </tr>
                {{/each}}
                </tbody>
            </table>
            </div>
        </div>
        <div class="card-footer small text-muted">Updated Now</div>
    </div>