
    <ol class="breadcrumb" id="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/admin">Dashboard</a>
        </li>
    </ol>

    <div class="row top-buffer justify-content-center">
        <div class="ui fluid search selection dropdown col col-md-3">
            <input type="hidden" name="user" id="user-id">
            <i class="dropdown icon"></i>
            <div class="default text">{{title}}</div>
            <div class="menu">
            {{#each votes as |vote voteId| }}
                {{!-- <option data-value="{{user.id}}">{{user.name}}</option> --}}
                <div class="item" data-value="{{voteId}}">{{vote.name}}</div>
            {{/each}}
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="margin-top: 1em">
        <div class="col col-lg-10 ">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Vote Result {{title}}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th class="text-center">TC</th>
                            <th class="text-center">A</th>
                            <th class="text-center">B</th>
                            <th class="text-center">C</th>
                            <th class="text-center">D</th>
                            <th class="text-center">Sum</th>
                        </tr>
                        </thead>
                        <tfoot>
                        {{!-- <tr>
                            <th class="text-center">TC</th>
                            <th class="text-center">A</th>
                            <th class="text-center">B</th>
                            <th class="text-center">C</th>
                            <th class="text-center">Avg</th>
                        </tr> --}}
                        </tfoot>
                        <tbody>

                        {{#each dats as |dat datID| }}
                            <tr >
                                <td>{{dat.name}}</td>
                                <td>{{dat.A}}</td>
                                <td>{{dat.B}}</td>
                                <td>{{dat.C}}</td>
                                <td>{{dat.D}}</td>
                                <td>{{dat.Sum}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-lg-10 ">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Vote Result {{title}}
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th class="text-center" >ID</th>
                            <th class="text-center">Trình bày</th>
                            <th class="text-center">Nội dung</th>
                            <th class="text-center">Hình thức</th>
                            <th class="text-center">Phản biện</th>
                            <th class="text-center">Số lần</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Trình bày</th>
                            <th class="text-center">Nội dung</th>
                            <th class="text-center">Hình thức</th>
                            <th class="text-center">Phản biện</th>
                            <th class="text-center">Số lần</th>
                        </tr>
                        </tfoot>
                        <tbody>

                        {{#each users as |user userId| }}
                            <tr >
                                <td>{{user.id}}</td>
                                <td>{{user.TC1}}</td>
                                <td>{{user.TC2}}</td>
                                <td>{{user.TC3}}</td>
                                <td>{{user.TC4}}</td>
                                <td>{{user.count}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col col-lg-5 ">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Trình bày Bar Chart {{title}}</div>
                <div class="card-body">
                    <canvas id="barchart1" width="100%" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <div class="col col-lg-5 ">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                   Nội dung  Bar Chart {{title}}</div>
                <div class="card-body">
                    <canvas id="barchart2" width="100%" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col col-lg-5 ">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Hình thức Bar Chart {{title}}</div>
                <div class="card-body">
                    <canvas id="barchart3" width="100%" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
        <div class="col col-lg-5 ">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-chart-bar"></i>
                    Phản biện Bar Chart {{title}}</div>
                <div class="card-body">
                    <canvas id="barchart4" width="100%" height="50"></canvas>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>
    </div>
    